body {
  font-family: 'gothamc'; 
}
[data-role="drag-drop-target"] {
  float: left;
  width: 60%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 3px solid red;
  border-radius: 4px;
  opacity: 0.4;
  max-width: 350px;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'gothamc';
  src: url('../fonts/Gotham_XNarrow_Medium.otf');
}

.over {
  background-color: #ffc;
}

.drag {
  opacity: 0.25;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

li {
  width: 900px;
  height: 70px;
  background-color: #aa8821;
  margin: 2em;
  list-style: none;
}

.friday {
  order: -1;
  
  flex-shrink: 2;
}


/***************************************************************
* ANIMATIONS
*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#source-container {
  animation: 5s fadeIn 2s 2;
}