body {
  font-family: 'gothamc'; 
}
[data-role="drag-drop-target"] {
  float: left;
  width: 60%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 3px solid red;
  border-radius: 4px;
  opacity: 0.4;
  max-width: 350px;
}

@font-face {
  font-family: 'gothamc';
  src: url('../fonts/Gotham_XNarrow_Medium.otf');
}

.over {
  background-color: #ffc;
}

.drag {
  opacity: 0.25;
}
