@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
	font-family: 'Open Sans', sans;
	text-align: center;
  color: #444;
}

#threesixty {
	margin: 0 auto;
  user-select: none;
}

.g-hub {
  color: #444;
  font-size: 0.9em;
}

.buttons-wrapper {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button {
  position: relative;
  appearance: none;
  border: none;
  padding: 40px 7px 5px;
  cursor: pointer;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    width: 20px;
    height: 20px;
    transform: translate(-45%) rotate(-45deg);
  }
  
  &::after {
    transform: translate(5%) rotate(-45deg);
  }
}

#next {
  
  &::before {
    transform: translate(-90%) rotate(135deg);
  }
  
  &::after {
    transform: translate(-50%) rotate(135deg);
  }
}