.wrapper > div {
	background-color: #eee;
}

.wrapper >div:nth-child(odd) {
	background-color: #ccc;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 20% 10% 10% 20%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}