@import url(https://fonts.googleapis.com/css?family=Raleway:100);

body{
  background: #222;
  margin: 50px 300px;
}
h1{
  color: #4a8df8;
  font-family: 'Raleway', cursive; 
  font-weight: 100; 
  font-stretch: normal;
  font-size: 4em;
  
}
.slider{
  position: absolute;
  width: 400px;
  height: 1px;
  margin-top: -30px
}
.line{
  position: absolute;
  background: #4a8df8;
  width: 400px;
  height: 1px;
  
}
.break{
  position: absolute;
  background: #222;
  width: 6px;
  height: 1px;  
}

.dot1{ -webkit-animation: loading 2s infinite; animation: loading 2s infinite;}
.dot2{ -webkit-animation: loading 2s 0.5s infinite; animation: loading 2s 0.5s infinite; }
.dot3{ -webkit-animation: loading 2s 1s infinite; animation: loading 2s 1s infinite; }

@-webkit-keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}

@keyframes "loading" {
  from { left: 0; }
  to { left: 400px; }
}
